<div class="well col-md-12">
  <div class="col-md-2">
    <%= image_tag tweet.user[:profile_image_url] %>
    <br>
    <div class="unfollow unfollow-<%= tweet.id %>">
      <% unless tweet.user[:id] == current_user.uid.to_i %>
        <%= button_to "Unfollow", unfollow_path(tweet.user), class: "btn
        btn-sm btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="row tweet-content col-md-10"><strong><%= tweet.user[:name] %></strong> @<%= tweet.user[:screen_name] %>
    <br>
    <%= tweet.text %>
    <div class="row">
      <div class="col-md-4 retweet-<%= tweet.id %>">
        <% unless tweet.retweeted? || tweet.user[:id] == current_user.uid.to_i %>
          <%= button_to retweets_path(uid: tweet.id), class: "btn
          btn-sm btn-primary", id: "retweet-#{tweet.id}" do %>
            <span class="glyphicon glyphicon-retweet"></span> <%= tweet.retweet_count %>
          <% end %>
        <% else %>
          <span class="glyphicon glyphicon-retweet" style="color:blue"></span> <%= tweet.retweet_count %>
        <% end %>
      </div>
      <div class="col-md-4 favorite-<%= tweet.id %>">
        <% unless tweet.favorited? %>
          <%= button_to favorites_path(uid: tweet.id), class: "btn
          btn-sm btn-primary", id: "favorite-#{tweet.id}" do %>
            <span class="glyphicon glyphicon-star"></span> <%= tweet.favorite_count %>
          <% end %>
        <% else %>
          <%= button_to favorite_path(uid: tweet.id), class: "btn
          btn-sm btn-primary", id: "unfavorite-#{tweet.id}", method: :delete do %>
            <span class="glyphicon glyphicon-star"></span> <%= tweet.favorite_count %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
